body {
  background-image: url("../images/site-bg-image-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height: 100%;
  min-height:100vh;
  min-height:100svh;
  display:flex;
  flex-direction:column;
}

p {
  margin-bottom: 0rem;
}

.dropdown-toggle::after {
  content: none;
}

.my-text{
  color:white;
  margin-left: 15px;
}

.text-in-cart{
  vertical-align: middle
}

.text-in-card-of-product{
  
}

.custom-shadow {
  box-shadow: 5px 5px 25px 19px #000000;
}

.product_id {
  color: gray;
  font-size: 15px;
}

.badge.bg-warning.text-dark {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 1;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 2px 2px 15px 9px #000000;
}

.badge-banner {
  top: 80%;
  border-radius: 15px;
  font-size: 0.7rem;
}

footer {
  margin-top: auto;
}

/* Красивые ссылки в новигации */
.nav-link{
  color: #4b6584; 
  /* font-family: 'Times new roman', cursive; */
  font-size: 14px;
  line-height: 14px;
  text-transform: capitalize;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  display: inline-block;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}
.nav-link:focus,
.nav-link:hover{
  color: #eb3b5a;
}
.nav-link:after{
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #4b6584;
  opacity: 0;
  transform: translateX(-50%);
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: opacity 0.5s ease 0s,width 0.2s ease 0s, height 0.2s ease 0.1s, border-top-width 0.1s ease 0.2s, bottom 0.2s ease 0s;
}
.nav-link:hover:after{
  width: 60%;
  height: 0;
  border-width: 0 2px 2px;
  border-color: #eb3b5a;
  opacity: 1;
  bottom: -3px;
  transition: opacity 0.5s ease 0s,width 0.2s ease 0.2s, height 0.2s ease 0.1s, border-top-width 0.1s ease 0s, bottom 0.2s ease 0.2s;
}
@media only screen and (max-width: 767px){
  .nav-link{ margin-bottom: 30px; }
}

/* Кнопки */


/* Звёздочки */
/* .rating{
	border: none;
	float: left;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: url(../icons/star-solid.svg);
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: #f2ff00;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: #f2ff00;
} */