{% load static %}


<div class="card mb-3 text-bg-light shadow-lg">
    {% for cart_item in cart_items %}
        <div class="card-header">
            <h5 class="card-title">{{ cart_item.product.name }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row text-center d-flex justify-content-center align-items-center">
                    <div class="col-4 col-sm-4 p-0">
                        <div class="input-group ">
                            <span class="input-group-btn my-auto">
                                <button type="button" class="btn btn-dark decrement rounded-0 rounded-start"
                                    data-cart-id="{{cart_item.id}}" 
                                    data-cart-change-url="{% url "cart:cart_change" %}">
                                    {% csrf_token %}
                                    -</button>
                            </span>
                            <input type="text" class="form-control number" value="{{ cart_item.quantity }}"
                            readonly disabled >
                            <span class="input-group-btn my-auto">
                                <button type="button" class="btn btn-dark align-content-center increment rounded-0 rounded-end"
                                    data-cart-id="{{cart_item.id}}" 
                                    data-cart-change-url="{% url "cart:cart_change" %}">
                                    {% csrf_token %}
                                    +</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-7 p-0">
                        <p> x {{ cart_item.product.self_price }} ₽ = <strong>{{ cart_item.products_price }} ₽</strong></p>
                    </div>
                    <div class="col-1 p-0">
                        <a href="{% url "cart:cart_remove" %}" class="remove-from-cart" 
                        data-cart-id="{{ cart_item.id }}">
                            {% csrf_token %}
                            <img class="btn" src="{% static "deps/icons/trash3-fill.svg" %}"
                                alt="Catalog Icon">
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endfor %}
    {% if promotion_products and cart_items and not order %}
    <div class="card-header">
        <h5 class="card-title text-center">
            Акция уже добавлена в корзину 
            <br>
            Выберите ваш подарок при оформлении заказа!
            <br>
        </h5>
    </div>
    {% endif %} 
    {% comment %} <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex align-content-center justify-content-center row">
                {% for promotion_item in promotion_products %}
                <div class="form-check">
                    <input class="form-check-input mx-2" type="radio" id="{{promotion_item.product.slug}}" name="promotion"
                           value="{{promotion_item.product.slug}}" checked/>
                    <label for="{{promotion_item.product.slug}}">{{promotion_item.product.name}}</label>
                </div>
                {% endfor %}
            </div>
            {% for cart in main_cart %}
            <div class="col-1 p-0">
                <button href="{% url "promotions:promotion_delete_from_cart" %}" class="align-items-center btn delete-promotion-from-cart"
                data-cart-id="{{ cart.id }}">
                    {% csrf_token %}
                    <img class="btn btn-light" src="{% static "deps/icons/trash3-fill.svg" %}"
                            alt="Catalog Icon">
                </button>
                 <a href="{% url "cart:cart_remove" %}" class="remove-from-cart" 
                data-cart-id="{{ cart.id }}">
                    {% csrf_token %}
                    <img class="btn" src="{% static "deps/icons/trash3-fill.svg" %}"
                        alt="Catalog Icon">
                </a> 
            </div>
            {% endfor %}
        </li>
    </ul>
    {% endif %} {% endcomment %}
    
</div>
<div class="card mb-3 shadow-lg">
    <div class="card-footer">
        <p class="float-left">Итого <strong>{{ cart_items.total_quantity }}</strong> товар(а) на сумму</p>
        <h4 class="float-left"><strong>{{ cart_items.total_price }} Руб.</strong></h4>
    </div>
</div>
{% if cart_items and not order %}
    <a class="btn btn-dark" href="{% url "orders:create_order" %}">
        Перейти к оформлению заказа
    </a>
{% endif %}