{% load static %}

<div class="d-flex justify-content-end pt-2">
    <button type="button" class="btn btn-danger rounded" data-bs-toggle="modal" data-bs-target="#deleteOrderModal{{order.id}}">
        Отменить заказ
    </button>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="deleteOrderModal{{order.id}}" tabindex="-1" data-bs-backdrop="static" aria-hidden="true" aria-bs-labelledby="answerModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="answerModalLabel">Форма подтверждения</h5>
                <button class="btn-close" data-bs-dismiss="modal" aria-bs-label="Close"></button>
            </div>
            <div class="modal-body">
                Вы точно уверены что хотите отменить заказ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <a class="btn btn-danger {% if order.order_status.id > 1 %} disabled {% endif %}" 
                    href="{% url "orders:delete_order" order.id %}" 
                    > Отменить заказ</a>
            </div>
        </div>
    </div>
</div>